<form [formGroup]=detachmentForm>
  <label>
    Name:
    <input type="text" formControlName="name">
  </label>
  <br>
  <label>
    Dedicated Transports For Each:
    <input type="number" formControlName="dedicatedTransportsForEach">
  </label>
  <br>
  <label>
    Minimum battlefield roles:
    <button type="button" (click)="detachmentForm.addMinRole()">Add</button>
  </label>
  <div formArrayName="minRoles" *ngFor="let item of detachmentForm.get('minRoles').controls; let i = index;">
    <div [formGroupName]="i">
      <select formControlName="battlefieldRole">
        <!-- from https://stackoverflow.com/a/35750252/1984657 -->
        <option *ngFor="let item of roles | enumKey" [value]="item.key">{{item.value}}</option>
      </select>
      <input type="number" formControlName="amount">
      <button type="button" (click)="detachmentForm.removeMinRole(i)">Remove</button>
    </div>
    <br>
  </div>
  <br>
  <label>
    Maximum battlefield roles:
    <button type="button" (click)="detachmentForm.addMaxRole()">Add</button>
  </label>
  <div formArrayName="maxRoles" *ngFor="let item of detachmentForm.get('maxRoles').controls; let i = index;">
    <div [formGroupName]="i">
      <select formControlName="battlefieldRole">
        <option *ngFor="let item of roles | enumKey" [value]="item.key">{{item.value}}</option>
      </select>
      <input type="number" formControlName="amount">
      <button type="button" (click)="detachmentForm.removeMaxRole(i)">Remove</button>
    </div>
    <br>
  </div>
  <br>
  <label>
    Restrictions:
    <button type="button" (click)="detachmentForm.addRestriction()">Add</button>
  </label>
  <div formArrayName="restrictions" *ngFor="let item of detachmentForm.get('restrictions').controls; let i = index;">
    <select [formGroupName]="i">
      <option *ngFor="let item of restrictions | enumKey" [value]="item.key">{{item.value}}</option>
    </select>
    <button type="button" (click)="detachmentForm.removeRestriction(i)">Remove</button>
    <br>
  </div>
  <br>
  <label>
    <div formGroupName="benefits">
      <label>
        Command Points:
        <input type="number" formControlName="commandPoints">
      </label>
    </div>
  </label>
  <button type="submit" (click)="stringify()">Stringify</button>
  <button type="button" (click)="reset()">Reset</button>
</form>

<div *ngIf="detachment">
  {{detachment}}
</div>